### Importação dos dados

In [2]:
import pandas as pd

url = "https://raw.githubusercontent.com/alura-es-cursos/challenge1-data-science/refs/heads/main/base-de-dados-challenge-1/loja_1.csv"
url2 = "https://raw.githubusercontent.com/alura-es-cursos/challenge1-data-science/refs/heads/main/base-de-dados-challenge-1/loja_2.csv"
url3 = "https://raw.githubusercontent.com/alura-es-cursos/challenge1-data-science/refs/heads/main/base-de-dados-challenge-1/loja_3.csv"
url4 = "https://raw.githubusercontent.com/alura-es-cursos/challenge1-data-science/refs/heads/main/base-de-dados-challenge-1/loja_4.csv"

loja = pd.read_csv(url)
loja2 = pd.read_csv(url2)
loja3 = pd.read_csv(url3)
loja4 = pd.read_csv(url4)

loja.head()

,Produto,Categoria do Produto,Preço,Frete,Data da Compra,Vendedor,Local da compra,Avaliação da compra,Tipo de pagamento,Quantidade de parcelas,lat,lon
0,Assistente virtual,eletronicos,219.08,9.249790,16/01/2021,Pedro Gomes,SP,4,cartao_credito,8,-22.19,-48.79
1,Mesa de jantar,moveis,256.35,11.234305,18/05/2022,Beatriz Moraes,RJ,1,cartao_credito,4,-22.25,-42.66
2,Jogo de tabuleiro,brinquedos,279.51,21.262681,15/03/2021,João Souza,DF,1,cartao_credito,1,-15.83,-47.86
3,Micro-ondas,eletrodomesticos,1009.99,54.667344,03/05/2022,João Souza,RS,4,boleto,1,-30.17,-53.50
4,Cadeira de escritório,moveis,446.99,26.964689,07/11/2020,Larissa Alves,MG,5,boleto,1,-18.10,-44.38

#1. Análise do faturamento

In [3]:
lojas = [loja, loja2, loja3, loja4]
faturamentos = [sum(lojas[i]["Preço"]) for i in range(len(lojas))]
faturamentos

[1534509.12, 1488459.06, 1464025.03, 1384497.58]

In [4]:
nome_lojas = ["loja 1", "loja 2", "loja 3", "loja 4"]
dict_faturamento = {nome_lojas[i]:faturamentos[i] for i in range(len(faturamentos))}
dict_faturamento

{'loja 1': 1534509.12,
 'loja 2': 1488459.06,
 'loja 3': 1464025.03,
 'loja 4': 1384497.58}

# 2. Vendas por Categoria

In [18]:
categoria_loja1 = loja.groupby("Categoria do Produto").size()
categoria_loja2 = loja2.groupby("Categoria do Produto").size()
categoria_loja3 = loja3.groupby("Categoria do Produto").size()
categoria_loja4 = loja4.groupby("Categoria do Produto").size()

# Armazena os resultados em um dicionário para fácil acesso
resultados_por_loja = {
    "Loja 1": categoria_loja1,
    "Loja 2": categoria_loja2,
    "Loja 3": categoria_loja3,
    "Loja 4": categoria_loja4
}

In [22]:
df = pd.DataFrame(resultados_por_loja)
df

                       Loja 1  Loja 2  Loja 3  Loja 4
Categoria do Produto
brinquedos                324     313     315     338
eletrodomesticos          312     305     278     254
eletronicos               448     422     451     451
esporte e lazer           284     275     277     277
instrumentos musicais     182     224     177     170
livros                    173     197     185     187
moveis                    465     442     499     480
utilidades domesticas     171     181     177     201

# 3. Média de Avaliação das Lojas

In [24]:
# Calcular a média das notas de avaliação das lojas
media_loja1 = loja["Avaliação da compra"].mean()
media_loja2 = loja2["Avaliação da compra"].mean()
media_loja3 = loja3["Avaliação da compra"].mean()
media_loja4 = loja4["Avaliação da compra"].mean()

In [28]:
media_lojas = [media_loja1,media_loja2,media_loja3,media_loja4]
print(media_lojas)

[np.float64(3.976685036032217), np.float64(4.037303942348453), np.float64(4.048325561678677), np.float64(3.9957591178965224)]

# 4. Produtos Mais e Menos Vendidos

# 5. Frete Médio por Loja